
html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  background-color: #F7CD75;
}

a{
  text-decoration: none;
  color: #333;
}

.container{
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.epay{
  width: 1000px;
  height: 500px;
  background-color: #fff;
  display: flex;
}

          /* ePay LEFT SIDE */


.epay-left-side{
  overflow: auto;
  width: 35%;
  background-color: #F2F2F2;
  padding: 40px;
}

.left-header{
  display: flex;
  justify-content: space-between;
}

.viza-card{
  width: 270px;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 3px;
}



.viza-card:hover{
  box-shadow: 1px 1px 15px 1px rgba(17, 76, 236, 0.568);
  cursor: pointer;
}

.master-card{
  width: 270px;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 3px;
}

.master-card:hover{
  box-shadow: 1px 1px 15px 1px rgba(17, 76, 236, 0.568);
  cursor: pointer;
}

.maestro-card{
  width: 270px;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 3px;
}

.maestro-card:hover{
  box-shadow: 1px 1px 15px 1px rgba(17, 76, 236, 0.568);
  cursor: pointer;
}


      /* ePay RIGHT SIDE */

.epay-right-side{
  overflow: auto;
  width: 65%;
  padding: 40px;
}

.right-header{
  display: flex;
  justify-content: space-between;
}